{% extends 'base.html'%}
{% block contain%}

 <nav class="navbar navbar-light bg-light">
          <a class="navbar-brand" href="/routine/saturday" >
            Saturday
          </a>
            <a class="navbar-brand" href="/routine/sunday">
            Sunday
          </a>
          <a class="navbar-brand" href="/routine/monday">
            Monday
          </a>
            <a class="navbar-brand" href="/routine/tuesday">
            Tuesday
          </a>
            <a class="navbar-brand" href="/routine/wednesday">
            Wednesday
          </a>
           <a class="navbar-brand" href="/routine/thursday">
            Thursday
          </a>
            <a class="navbar-brand" href="/routine/extra">
            Extra Class
          </a>
        </nav>


<h3 align="center" style="color:cyan;" >{{ day.upper }} </h3>
 <table class="table table-striped table-dark">
  <thead>
    <tr>
          <th scope="col">#</th>
          <th scope="col">Slot</th>
          <th scope="col">Course title</th>
          <th scope="col">Teacher Initial</th>
          <th scope="col">Room Number</th>
          
    </tr>
  </thead>
  <tbody>
  {% for q in routines %}
    {% if q.day == day%}
    <tr>
      <th scope="row"></th>
      <td>{{q.slot}}</td>
      <td>{{q.courseTitle}}</td>
      <td>{{q.teacherIni}}</td>
        <td>{{q.room}}</td>
    </tr>
    {% endif %}
  {% endfor %}

  </tbody>
</table>


{% endblock %}